#buttons_here {
    position: absolute;
    right: 300px;
}

.btn {
    display: inline;
    margin-left: 10px;
}

h1{
    text-align: center;
    
}

#submit, #userInput, h2{
    position: absolute;
    right: 300px;
    top:200px;
}

